
@import "./assets/sass/reset"
@import "./assets/fonts/fonts"

$font-size: 1rem
$font-color: lch(28 99 35)

html
  font-family: 'Montserrat'

.container
  max-width: 1400px
  margin: 0 auto

.header
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 25px 0

.footer
  background: #0A1E32
  &__wrapper
    display: flex
    justify-content: space-between
    padding: 35px 0
